* {
    box-sizing: border-box;
}

.grid {
    margin-top: 45px;
}

body {
    font-size: larger;
    background-color: grey;
    background-image: url("images/techBigBack.jpeg");
    /* background-size: cover; */
}

#score, #moves {
    font-size: 3em;
    width: 100%;
    margin: 0;
    margin-top: 3%;
}

#victory {
    margin-left: initial;
    margin-right: initial;
    font-size: 3.7em;
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

#diffLabel, #cardLabel {
    margin: 0;
    font-size: 2em;
}

#difficulty {
    margin: auto;
    font-size: 2em;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
}

#cardset {
    margin: auto;
    font-size: 2em;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
}

#startgame_btn {
    width: 40%;
    border: 2px solid green;
    border-radius: 6px;
    font-size: 2.2em;
    padding: 10px;
    font-weight: bold;
    margin-top: 35px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

#footer {
    margin-top: 150px;
    font-size: 1.1em;
}

#play_btn {
    font-size: 2em;
    padding: 20px;
}