
.grid {
    margin-left: 50px;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
    max-width: 800px;
    margin: auto;
}

body {
    color: lightblue;
    text-shadow: 1px 1px darkgrey;
    background-color: whitesmoke;
    background-image: url("images/techBigBack.jpeg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: scroll;
}

#victory {
    display: none;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    font-weight: bold;
    font-size: 3.5em;
    color: green;
    text-shadow: 3px 3px black;
}

#play_btn {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border: 1px solid green;
    border-radius: 10px;
    display: none;
}

h2 {
    display: inline-block;
    font-size: 2em;
}

#score {
    margin: 25px 5% 30px 16.5%;
    text-decoration: underline;
}

#moves {
    margin: 25px 20% 30px 10%;
    text-decoration: underline;
}

#gameInfo {
    margin-left: 20%;
    width: 60%;
}

#difficulty {
    font-weight: bold;
    font-size: 1.2em;
}

#cardset {
    font-weight: bold;
    font-size: 1.2em;
}

#diffLabel {
    display: inline-block;
    font-weight: bold;
    margin-left: 16.5%;
    font-size: 1.2em;
}

#cardLabel {
    margin-left: 25px;
    font-weight: bold;
    font-size: 1.2em;
}

#startgame_btn {
    border: 2px solid green;
    font-size: 1.2em;
    margin-left: 15px;
}

#footer {
    margin-top: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: small;
    text-decoration: underline;
}

#footer:hover {
    font-size: 1em;
    font-weight: bold;
}

#githubIcon {
    padding-top: 15px;
    width: 20px;
    display: inline-block;
}

.sidebar {
    display: none;
}

@media only screen and (min-width: 1280px) {
    .sidebar {
        width: 20%;
        height: 100vh;
        /* border: 2px solid red; */
    }
    #leftsdb {
        position: fixed;
        top: 0;
        left: 0;
    }
    #rightsdb {
        position: fixed;
        top: 0;
        right: 0;
    }
}




/* #logo {
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    opacity: 50%;
    width: 60%;
    display: block;
} */

/* #logo {
    width: 75%; 
    margin: 15px;
    background-image: url("images/logo.png");
    background-size: cover;
    background-repeat: no-repeat; 
} */

